body{
    background-color: purple;
}
.topbar{
    border-style: double;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 40px;
}

th,td{
    font-size: xx-large;
    padding-right: wrap;
    padding-left: 230px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }


/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.formfieldset{
    width: 310px;
    background-color: rgb(235, 152, 152);
    font-size: 40px;
    border-radius: 10px;
    color: gold;
}

.form-element{
    color: #4CAF50;
    padding: 20px;
    margin-bottom: 10px;
    width: 250px;
    border-radius: 80px;
    font-size: large;
}

input[type=checkbox]{
    width: 40px;
    height: 20px;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 28px;
    right: 28px;
    width: 280px;
  }

.btn1{
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 28px;
    left: 28px;
    width: 280px;
}

  